{% load i18n %}
{% load staticfiles %}
{% load tz %}


<!DOCTYPE html>
<html lang="en">
    <head>
        {% block head %}
        <meta charset="utf-8">
        <title>{% block title %} | Esport Bets{% endblock title %}</title>

        <!-- Start linking stylesheets -->
        {% block link %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/libraries/jquery.jmetro/magneto/jquery-ui.custom.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'css/homemade/block.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'css/homemade/border.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'css/homemade/color.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'css/homemade/fonts.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'css/homemade/typography.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'css/homemade/various.css' %}" />
        {% endblock link %}
        <!-- End linking stylesheets -->

        <!-- Start linking scripts -->
        {% block script %}
        <script type="text/javascript" src="{% static 'js/libraries/jquery/jquery-1.11.0.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/libraries/jquery/jquery-ui-1.10.4.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/libraries/jquery.cookie/cookie-1.4.1.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/libraries/jquery.noty/noty-2.1.0.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/libraries/jquery.noty/layouts/top-right.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/libraries/jquery.noty/themes/custom.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/homemade/ajax.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/homemade/dialog.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/homemade/form.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/homemade/jquerize.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/homemade/menu.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/homemade/notification.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/homemade/translation.js' %}"></script>
        {% endblock script %}
        <!-- End linking scripts -->

        <!-- Start custom CSS -->
        <style type="text/css">{% block css %}{% endblock css %}</style>
        <!-- End custom CSS -->

        <!-- Start custom JavaScript -->
        <script type="text/javascript">
            {% block js %}
            $(document).ready(function() {
                {% block js-ready %}
                InitializeMenu();
                InitializeTranslation();
                InitializeExternalLinks();
                InitializeButtons();
                InitializeDialogs();
                InitializeNotifications();
                InitializeAJAX();
                {% endblock js-ready %}
            });
            {% endblock js %}
        </script>
        <!-- End custom JavaScript -->
        {% endblock head %}
    </head>

    <body>

        <!-- Start menu -->
        <div id="wrapper-menu">
            <div id="menu">
                <div id="menu-header" class="menu-item">
                    <span class="sprite home"></span>
                    <div class="content ninja">
                        <div class="entry">
                            <a href="{% url 'home' %}">Esport Bets</a>
                        </div>
                    </div>
                </div>
                <hr />
                <div id="menu-content">
                    <ul id="menu-items">

                        <!-- Start Dota 2 menu -->
                        <li class="menu-item">
                            <span class="sprite dota"></span>
                            <div class="content ninja expendable">
                                <div class="entry">
                                    <p>{% trans "Dota 2" %}<span class="icon ui-icon ui-icon-carat-1-e"></span></p>
                                </div>
                                <ul class="submenu ninja">
                                    <li><a href="{% url 'dota-home' %}">{% trans "home" %}</a></li>
                                    <li><a href="{% url 'dota-standard' %}">{% trans "standard bets" %}</a></li>
                                    <li><a href="{% url 'dota-fantasy' %}">{% trans "fantasy bets" %}</a></li>
                                    <li><a href="{% url 'dota-matches' %}">{% trans "matches" %}</a></li>
                                    <li><a href="{% url 'dota-leagues' %}">{% trans "leagues" %}</a></li>
                                    <li><a href="{% url 'dota-ranking' %}">{% trans "user ranking" %}</a></li>
                                </ul>
                            </div>
                        </li>
                        <!-- End Dota 2 menu -->

                        <!-- Start Starcraft 2 menu -->
                        <li class="menu-item">
                            <span class="sprite starcraft"></span>
                            <div class="content ninja expendable">
                                <div class="entry">
                                    <p>{% trans "Starcraft 2" %}<span class="icon ui-icon ui-icon-carat-1-e"></span></p>
                                </div>
                                <ul class="submenu ninja">
                                    <li><i>{% trans "not implemented" %}</i></li>
                                </ul>
                            </div>
                        </li>
                        <!-- End Starcraft 2 menu -->

                        <!-- Start profile menu -->
                        <li class="menu-item">
                            <span class="sprite profile"></span>
                            <div class="content ninja expendable">
                                <div class="entry">
                                    <p>{% trans "Profile" %}<span class="icon ui-icon ui-icon-carat-1-e"></span></p>
                                </div>
                                <ul class="submenu ninja">
                                    {% if user.is_authenticated %}
                                    <li><a href="{% url 'userena_profile_detail' user.username %}">{{ user.username }}</a></li>
                                    <li><a href="{% url 'userena_signout' %}?next={{ request.path }}">{% trans "logout" %}</a></li>
                                    {% else %}
                                    <li><a href="{% url 'userena_signin' %}?next={{ request.path }}">{% trans "login" %}</a></li>
                                    {% endif %}
                                </ul>
                            </div>
                        </li>
                        <!-- End profile menu -->

                        <!-- Start menu end item -->
                        <li class="menu-item last">
                            <hr />
                            <span class="sprite settings"></span>
                            <div class="content ninja">

                                <!-- Start time zones -->
                                <p id="timezones">
                                    <p>UTC: {{ now|utc|time:"H:i" }}</p>
                                    <p>New York: {{ now|timezone:"US/Eastern"|time:"H:i" }}</p>
                                    <p>Paris: {{ now|timezone:"Europe/Paris"|time:"H:i" }}</p>
                                    <p>Seoul: {{ now|timezone:"Asia/Seoul"|time:"H:i" }}</p>
                                </p><br />
                                <!-- End time zones -->

                                <!-- Start language selector -->
                                <form id="language" action="{% url 'set_language' %}" method="post">
                                    {% csrf_token %}
                                    <select id="language-selector" name="language">
                                        {% get_language_info_list for LANGUAGES as languages %}
                                        {% for language in languages %}
                                        <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected="selected"{% endif %}>
                                            {{ language.name }}
                                        </option>
                                         {% endfor %}
                                    </select>
                                </form>
                                <!-- End language selector -->
                            </div>
                        </li>
                        <!-- End menu end item -->

                    </ul>
                </div>
            </div>
        </div>
        <!-- End menu -->

        <!-- Start content -->
        <div id="wrapper-content">
            <div id="content">
                {% block content %}
                <div id="wrapper-content-left"><div id="content-left">{% block content-left %}{% endblock %}</div></div>
                <div id="wrapper-content-right"><div id="content-right">{% block content-right %}{% endblock %}</div></div>
                <div style="clear:both;"></div>
                {% endblock content %}
            </div>
        </div>
        <!-- End content -->

        <!-- Start footer -->
        <div id="wrapper-footer">
            <div id="footer">

                <!-- Start copyright -->
                <p id="copyright">
                    {% block footer %}
                    Created in 2014 by <a id="about" href="{% url 'about' %}">a bunch of random students</a>.
                    No bytes were intentionally harmed during the development of this website.
                    {% endblock footer %}
                </p>
                <!-- End copyright -->

                <!-- Start statistics -->
                <p id="statistics">
                    Powered by Django
                    <!-- STATS: (Total: %(tt).2fs &ndash; Python: %(py).2fs &ndash; DB: %(db).2fs &ndash; Queries: %(nb)d) ENDSTATS -->
                </p>
                <!-- End statistics -->

                <div style="clear:both;"></div>
            </div>
        </div>
        <!-- End footer -->

        <div id="dialog"></div>
    </body>
</html>
