{% extends "dota/base.html" %}
{% load humanize %}
{% load i18n %}
{% load staticfiles %}


{% block script %}
{{ block.super }}
<script type="text/javascript" src="{% static 'js/homemade/dota.fantasy.js' %}"></script>
{% endblock script %}


{% block js-ready %}
{{ block.super }}
InitializeForms(['#form-fantasy']);
InitializePlayerPool();
UpdatePlayerCount();
{% endblock js-ready %}


{% block content %}
{% if form %}
<!-- Start user team -->
<h2>{% trans "name your fantasy team" %}</h2>
<form id="form-fantasy" action="" method="post">
    {% csrf_token %}
    <table>{{ form.as_table }}</table>
</form><br /><br />
<!-- End user team -->

{% if players %}
<!-- Start fantasy -->
<h2>{% trans "build your fantasy team" %}</h2>
<div>
    <p>
        {% trans "Credits" %}:
        <span id="credits-amount">{{ profile.credits|floatformat:2|intcomma }}</span>
    </p><br />

    <!-- Start user players -->
    <p>
        {% trans "Players" %} (<span id="players-count">0</span>/5):
        <a class="ninja-toggler">{% trans "toggle" %}</a>
    </p>
    <div id="players"><br />
        {% for p in players %}
        <div class="wrapper-pool">
            <div class="pool{% if forloop.last %} last{% endif %}">
                <div id="position-{{ forloop.counter }}" class="wrapper-player last{% if not p %} empty{% endif %}">
                    {% if p %}
                    <a class="player" onclick="SellPlayer({{ p.pk }}, {{ p.position }}, '{{ p }}', '{{ p.price }}');">
                        <span class="text">{{ p }}</span>
                        <span class="price">{{ p.price|floatformat:2|intcomma }}</span>
                    </a>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
        <div style="clear:both;"></div>
    </div><br />
    <!-- End user players -->

    <!-- Start player pool -->
    <p>
        {% trans "Player pool" %}:
        <a class="ninja-toggler">{% trans "toggle" %}</a>
    </p>
    <div id="pool" class="ninja"><br />
        {% for pool in pools %}
        <div class="wrapper-pool">
            <div class="pool-position">{% trans "Position" %} {{ forloop.counter }}</div>
            <div id="pool-{{ forloop.counter }}" class="pool{% if forloop.last %} last{% endif %}">
                {% for p in pool %}
                <div id="player-{{ p.pk }}" class="wrapper-player{% if forloop.last %} last{% endif %}{% if p in players %} empty{% endif %}">
                    {% if not p in players %}
                    <a class="player" onclick="BuyPlayer({{ p.pk }}, {{ p.position }}, '{{ p }}', '{{ p.price }}');">
                        <span class="text">{{ p }}</span>
                        <span class="price">{{ p.price|floatformat:2|intcomma }}</span>
                    </a>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
        </div>
        {% endfor %}
        <div style="clear:both;"></div>
    </div>
    <!-- End player pool -->
</div>
<!-- End fantasy -->
{% endif %}
{% endif %}
{% endblock content %}
