{% extends "dota/base.html" %}
{% load i18n %}

{% block content %}
<h2>{% trans "list of leagues" %}</h2>
<table class="table">
    <thead>
        <tr>
            <th>{% trans "Name" %}</th>
            <th>{% trans "URL" %}</th>
        </tr>
    </thead>
    <tbody>
        {% for league in league_list %}
        <tr>
            <td>{{ league }}</td>
            <td>{% if league.url %}<a class="external" href="{{ league.url }}">{{ league.url }}</a>{% else %}{% trans "No provided address" %}{% endif %}</td>
        </tr>
        {% empty %}
        <tr><td class="empty" colspan="2">{% trans "No league available" %}</td></tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}
