{% extends "dota/base.html" %}
{% load i18n %}


{% block content %}
<h2>{% trans "history of matches" %}</h2>
<table id="matches" class="table">
    <thead>
        <tr>
            <th>{% trans "Match ID" %}</th>
            <th>{% trans "League" %}</th>
            <th>{% trans "Date" %}</th>
            <th>Dire</th>
            <th>Radiant</th>
            <th>{% trans "Duration" %}</th>
        </tr>
    </thead>
    <tbody>
        {% for match in matches %}
        <tr>
            <td>
                <a class="external" href="http://dotabuff.com/matches/{{ match.steam_id }}">
                    {{ match.steam_id }}
                </a>
            </td>
            <td>
                {% with l=match.league %}
                {% if l %}
                <a class="external" href="{{ l.url }}">{{ l }}</a>
                {% else %}
                {% trans "Unknown league" %}
                {% endif %}
                {% endwith %}
            </td>
            <td>{{ match.date|timesince }} {% trans "ago" %}</td>
            <td>
                <span class="team{% ifequal match.result 'D' %} victory{% else %} defeat{% endifequal %}">
                    {{ match.dire }}
                </span>
            </td>
            <td>
                <span class="team{% ifequal match.result 'R' %} victory{% else %} defeat{% endifequal %}">
                    {{ match.radiant }}
                </span>
            </td>
            <td>{{ match.duration }}</td>
        </tr>
        {% empty %}
        <tr><td class="empty" colspan="6">{% trans "No match available" %}</td></tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}
