{% extends "dota/base.html" %}
{% load humanize %}
{% load i18n %}


{% block content %}
<h2>{% trans "user ranking" %}</h2>
<table class="table">
    <thead>
        <tr>
            <th>{% trans "Username" %}</th>
            <th>{% trans "Credits" %}</th>
        </tr>
    </thead>
    <tbody>
        {% for profile in profile_list %}
        <tr>
            <td><a href="{% url 'userena_profile_detail' profile.user.username %}">{{ profile }}</a></td>
            <td>{{ profile.credits|floatformat:2|intcomma }}</td>
        </tr>
        {% empty %}
        <tr><td class="empty" colspan="2">{% trans "No user available" %}</td></tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}
