{% extends "dota/base.html" %}
{% load i18n %}
{% load range %}
{% load staticfiles %}


{% block script %}
{{ block.super }}
<script type="text/javascript" src="{% static 'js/homemade/dota.standard.js' %}"></script>
{% endblock script %}


{% block js-ready %}
{{ block.super }}
InitializeStandard();
{% endblock js-ready %}


{% block content %}
<!-- Start upcoming encounters -->
<h2>{% trans "upcoming encounters" %}</h2>
<table id="encounters" class="table">
    <thead>
        <tr>
            <th class="league">{% trans "League" %}</th>
            <th class="dire">Dire</th>
            <th class="radiant">Radiant</th>
            <th class="date">{% trans "Date" %}</th>
        </tr>
    </thead>
    <tbody>
        {% for encounter in upcoming %}
        {% with e=encounter %}
        <tr id="encounter-{{ e.pk }}" class="encounter interactive" data-pk="{{ e.pk }}">
            <td>
                {% if e.league %}
                <a class="external" href="{{ e.league.url }}">{{ e.league }}</a>
                {% else %}
                {% trans "Unknown league" %}
                {% endif %}
            </td>
            <td class="faction dire" data-faction="dire">
                <p><span class="team">{{ e.dire }}</span> <a style="float:right" class="bet-toggler">{% trans "Bet" %}</a></p>
                <div class="details ninja">
                    <div class="odds"><div class="odds-winning" style="width:{{ e.odds_dire }}%;"></div></div>
                </div>
            </td>
            <td class="faction radiant" data-faction="radiant">
                <p><span class="team">{{ e.radiant }}</span> <a style="float:right" class="bet-toggler">{% trans "Bet" %}</a></p>
                <div class="details ninja">
                    <div class="odds"><div class="odds-winning" style="width:{{ e.odds_radiant }}%;"></div></div>
                </div>
            </td>
            <td>
                <p>{% trans "In" %} {{ e.date|timeuntil }}</p>
                <div class="details ninja"><p>{{ e.date }}</p></div>
            </td>
        </tr>
        {% endwith %}
        {% empty %}
        <tr><td class="center" colspan="4">{% trans "No upcoming encounter" %}</td></tr>
        {% endfor %}
        <tr><td colspan="4" style="padding:0px;"></td></tr>
    </tbody>
</table>
<div class="table-toolbar">
    <button id="refresh-bets" class="jquerized" type="button" disabled>
        <span class="ui-icon ui-icon-refresh">
    </button>
    <button id="submit-bets" class="jquerized" type="button" onclick="ConfirmBets();" disabled>
        <span class="ui-icon ui-icon-check">
    </button>
    <div style="clear:both;"></div>
</div><br /><br />
<!-- End upcoming encounters -->

<!-- Start pending bets -->
<h2>{% trans "pending bets" %}</h2>
<table id="bets" class="table">
    <thead>
        <tr>
            <th class="league">{% trans "League" %}</th>
            <th class="dire">Dire</th>
            <th class="radiant">Radiant</th>
            <th class="date">{% trans "Date" %}</th>
        </tr>
    </thead>
    <tbody>
        {% for bet in pending %}
        {% with e=bet.encounter %}
        <tr class="interactive">
            <td>
                {% if e.league %}
                <a class="external" href="{{ e.league.url }}">{{ e.league }}</a>
                {% else %}
                {% trans "Unknown league" %}
                {% endif %}
            </td>
            <td>
                <p class="team {% ifequal bet.bet 'D' %}victory{% else %}defeat{% endifequal %}">{{ e.dire }}</p>
                <div class="details ninja"></div>
            </td>
            <td>
                <p class="team {% ifequal bet.bet 'R' %}victory{% else %}defeat{% endifequal %}">{{ e.radiant }}</p>
                <div class="details ninja"></div>
            </td>
            <td>
                <span>{% trans "In" %} {{ e.date|timeuntil }}</span>
                <div class="details ninja"><p>{{ e.date }}</p></div>
            </td>
        </tr>
        {% endwith %}
        {% empty %}
        <tr>
            <td style="text-align:center;" colspan="4">{% trans "No pending bet" %}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<!-- End pending bets -->
{% endblock content %}
