{% extends "home/base.html" %}
{% load i18n %}

{% block content %}
<h2>{% trans "welcome to esport bets" %}</h2>

<div class="content-centered">
    <p>
        Esport Bets is a Web, smartphone and tablet application which you can bet on
        electronic sports competitions with.
    </p><br />
    <p>
        Two types of bets are available: a <i>standard</i> betting system and a <i>fantasy league</i> system (you manage a team and
        earn credits depending on how your players perform).
    </p><br />
    <p>
        You will have a wallet containing virtual money (which you can reset at any time) and will bet on your choice, in the case of
        regular bets, or will manage your teams (buy/sell players). Several algorithms and coefficients will come into account for the
        calculation of earnings. You will be able to access very detailed statistics about the teams and players as well as ladders.
    </p>
</div>
{% endblock content %}
