/* Display */
/* ────────────────────────────────────────────────────────────────────────── */
.ninja                                          { display: none; }
.player                                         { display: block; }
#menu .content .icon                            { display: inline-block; }
#menu .content a                                { display: block; }


/* Margin */
/* ────────────────────────────────────────────────────────────────────────── */
*                                               { margin: 0px; }
h1, h2, h3, h4, h5, h6                          { margin-bottom: 24px; }
.table-toolbar                                  { margin-top: 4px; }
.table-toolbar button                           { margin-left: 4px; }
.wrapper-player                                 { margin-bottom: 4px; }
.wrapper-player.last                            { margin-bottom: 0px; }
#content, #footer                               { margin-left: 61px; }
#copyright                                      { margin-left: 22px; }
#encounters .odds                               { margin: 10px 0px; }
#menu hr                                        { margin: 8px 8px; }
#menu .content .sprite                          { margin-right: 8px; }
#menu-header                                    { margin-top: 8px; }
#statistics                                     { margin-right: 22px; }


/* Padding */
/* ────────────────────────────────────────────────────────────────────────── */
*                                               { padding: 0px; }
code                                            { padding: 0px 3px; }
form th                                         { padding-right: 16px; }
form .errorlist                                 { padding-left: 16px; }
h2                                              { padding-left: 2px; }
input[type="password"], input[type="text"]      { padding: 2px 4px; }
ol.list, ul.list                                { padding-left: 18px; }
td.error                                        { padding-left: 16px; }
.content-centered                               { padding-top: 40px; }
.player .text                                   { padding-left: 16px; }
.player .price                                  { padding-right: 16px; }
.pool                                           { padding-right: 4px; }
.pool.last                                      { padding-right: 0px; }
.table tbody td                                 { padding: 8px; }
.table thead th                                 { padding: 2px 8px 4px 8px; }
#content                                        { padding: 60px 50px; }
#content-right                                  { padding-left: 30px; }
#content-right ul                               { padding-right: 18px; }
#menu .entry                                    { padding-left: 48px; }
#menu .submenu li                               { padding-left: 24px; }
#menu .menu-item.last .content                  { padding: 10px 10px 6px 10px; }
#wrapper-footer                                 { padding: 22px 0px 23px 00px; }


/* Position */
/* ────────────────────────────────────────────────────────────────────────── */
code                                            { bottom: 1px; position: relative; }
form .errorlist                                 { float: right; }
input[type="checkbox"]                          { position: relative; top: 1px; }
.icon                                           { position: relative; top: 2px; }
.player .price                                  { float: right; }
.table-toolbar button                           { float: right; }
.wrapper-player                                 { float: left; }
.wrapper-pool                                   { float: left; }
#copyright                                      { float: left; }
#menu .sprite                                   { float: left; position: relative; top: 15px; left: 20px; }
#menu .menu-item.last                           { position: absolute; bottom: 22px; left: 0; }
#statistics                                     { float: right; }
#wrapper-content                                { position: relative; }
#wrapper-content-left, #wrapper-content-right   { float: left; }
#wrapper-menu                                   { position: fixed; bottom: 0; left: 0; top: 0; z-index: 1337; }}


/* Size */
/* ────────────────────────────────────────────────────────────────────────── */
body                                            { height: 100%; width: 100%; }
html                                            { height: 100%; }
input[type="text"], input[type="password"]      { width: 160px; }
.jquery-button                                  { width: 120px; }
.player                                         { height: 100%; width: 100%; }
.table                                          { width: 100%; }
.wrapper-player                                 { height: 40px; width: 100%; }
.wrapper-pool                                   { width: 20%; }
#bets th.league, #encounters th.league          { width: 24%; }
#bets th.dire, #encounters th.dire              { width: 26%; }
#bets th.radiant, #encounters th.radiant        { width: 26%; }
#bets th.date, #encounters th.date              { width: 24%; }
#bets th.date, #encounters th.date              { width: 24%; }
#encounters .odds                               { width: 100%; height: 2px; }
#encounters .odds .odds-winning                 { height: 100%; }
#menu .menu-item                                { min-height: 50px; }
#menu .menu-item.last                           { width: 100%; }
#menu .sprite                                   { height: 20px; width: 20px; }
#wrapper-content                                { min-width: 960px;}
#wrapper-content-left                           { width: 80%; }
#wrapper-content-right                          { width: 20%; }
#wrapper-footer                                 { width: 100%; }
#wrapper-menu                                   { height: 100%; width: 60px; }
#wrapper-menu.opened                            { width: 200px; }
