/* Collapse */
/* ────────────────────────────────────────────────────────────────────────── */
.table, .table td, .table th                    { border-collapse:collapse; }


/* Radius */
/* ────────────────────────────────────────────────────────────────────────── */
input[type="password"], input[type="text"]      { border-radius: 1px;
                                                  -moz-border-radius: 1px;
                                                  -webkit-border-radius: 1px;}
.table                                          { border-radius: 1px;
                                                  -moz-border-radius: 1px;
                                                  -webkit-border-radius: 1px;}
.player                                         { border-radius: 1px;
                                                  -moz-border-radius: 1px;
                                                  -webkit-border-radius: 1px;}


/* Style */
/* ────────────────────────────────────────────────────────────────────────── */
hr                                              { border-style: none; border-top-style: solid; }
input[type="password"], input[type="text"]      { border-style: solid; }
.table                                          { border-style: solid; }
#menu-items .submenu                            { border-bottom-style: solid; border-top-style: solid; }
#wrapper-footer                                 { border-top-style: solid; }
#wrapper-menu                                   { border-right-style: solid; }


/* Width */
/* ────────────────────────────────────────────────────────────────────────── */
hr                                              { border-width: 1px; }
input[type="password"], input[type="text"]      { border-width: 1px; }
.table                                          { border-width: 2px; }
#menu-items .submenu                            { border-width: 1px; }
#menu-toggle                                    { border-width: 1px !important; }
#wrapper-footer, #wrapper-menu                  { border-width: 1px; }
