$code-green-0: #5E705E;
$code-green-1: #A1D05E;
$code-grey-0:  #202020;
$code-grey-1:  #303030;
$code-grey-2:  #383838;
$code-grey-3:  #404040;
$code-grey-4:  #606060;
$code-grey-5:  #ABACA5;
$code-grey-6:  #CCCCCC;
$code-red-0:   #CC3333;
$code-red-1:   #993333;
$code-red-2:   #663333;
$code-white-0: #C0C0C0;
$code-white-1: #F0F0F0;

$color-background:            $code-grey-3;
$color-background-defeat:     $code-red-0;
$color-background-input:      $code-grey-6;
$color-background-link-hover: $code-grey-4;
$color-background-menu:       $code-grey-0;
$color-background-row-even:   $code-grey-2;
$color-background-row-hover:  $code-red-2;
$color-background-victory:    $code-green-1;

$color-border:         $code-green-0;
$color-border-input:   $code-grey-5;
$color-border-table:   $code-grey-0;
$color-border-divider: $code-grey-1;

$color-text:              $code-grey-5;
$color-text-defeat:       $code-red-0;
$color-text-error:        $code-red-0;
$color-text-link-default: $code-white-1;
$color-text-link-hover:   $code-white-0;
$color-text-title:        $code-white-0;
$color-text-victory:      $code-green-1;

$transition-fast:   100ms;
$transition-medium: 200ms;
$transition-slow:   300ms;


/* Reset */
/* ────────────────────────────────────────────────────────────────────────── */
a, ol, p, table, ul                                     { color: $color-text; }


/* Backgrounds */
/* ────────────────────────────────────────────────────────────────────────── */
body                                                    { background-color: $color-background; }
.player                                                 { background-color: $code-grey-1; }
.player:hover                                           { background-color: $code-grey-0; }
.table th, .table tfoot td                              { background-color: $color-border-table; }
.table tr:nth-child(even)                               { background-color: $color-background-row-even; }
.table tr.interactive:hover                             { background-color: $color-background-row-hover; }
.wrapper-player                                         { background-color: #484848; }
input[type="password"], input[type="text"]              { background-color: $color-background-input; }
#encounters .odds                                       { background-color: $color-background-defeat; }
#encounters .odds .odds-winning                         { background-color: $color-background-victory; }
#menu-items .menu-item:hover .entry                     { background-color: $code-grey-1; }
#menu-items .submenu li                                 { background-color: #101010; }
#menu-items .submenu li:hover                           { background-color: $code-grey-1; }
#wrapper-menu                                           { background-color: $color-background-menu; }

/* Borders */
/* ────────────────────────────────────────────────────────────────────────── */
hr                                                      { border-color: $color-border-divider; }
input[type="password"], input[type="text"]              { border-color: $color-border-input; }
table                                                   { border-color: $color-border-table; }
#menu-items .submenu                                    { border-color: #101010; }
#wrapper-footer, #wrapper-menu                          { border-color: $color-border; }


/* Text */
/* ────────────────────────────────────────────────────────────────────────── */
a, label                                                { color: $color-text-link-default; }
a:hover, label:hover                                    { color: $color-text-link-hover; }
form .errorlist                                         { color: $color-text-error; }
h1, h2, h3, h4, h5, h6                                  { color: $color-text-title; }
.defeat                                                 { color: $color-text-defeat; }
.player .price                                          { color: $code-grey-4; }
.pool-position                                          { color: $color-text; }
.victory                                                { color: $color-text-victory; }


/* Transitions */
/* ────────────────────────────────────────────────────────────────────────── */
a, label {
    transition:         color $transition-fast linear;
    -moz-transition:    color $transition-fast linear;
    -o-transition:      color $transition-fast linear;
    -webkit-transition: color $transition-fast linear;
}
.player, .wrapper-player {
    transition:         background-color $transition-fast linear;
    -moz-transition:    background-color $transition-fast linear;
    -o-transition:      background-color $transition-fast linear;
    -webkit-transition: background-color $transition-fast linear;
}
.table tr.interactive {
    transition:         background-color $transition-fast linear;
    -moz-transition:    background-color $transition-fast linear;
    -o-transition:      background-color $transition-fast linear;
    -webkit-transition: background-color $transition-fast linear;
}
.ui-button {
    transition:         background-color $transition-fast linear;
    -moz-transition:    background-color $transition-fast linear;
    -o-transition:      background-color $transition-fast linear;
    -webkit-transition: background-color $transition-fast linear;
}
#menu .content .entry, #menu-items .submenu li {
    transition:         background-color $transition-fast linear;
    -moz-transition:    background-color $transition-fast linear;
    -o-transition:      background-color $transition-fast linear;
    -webkit-transition: background-color $transition-fast linear;
}
