/* Directions */
/* ────────────────────────────────────────────────────────────────────────── */
#content-right li                       { direction: rtl; }
#content-right ul                       { direction: rtl; }


/* Fonts */
/* ────────────────────────────────────────────────────────────────────────── */
*                                       { font-family: "Open Sans Light", "Arial"; }
code                                    { font-family: "Inconsolata"; }
h1, h2, h3, h4, h5, h6                  { font-family: "Oswald"; }
input[type="password"]                  { font-family: "Inconsolata"; }
input[type="text"]                      { font-family: "Inconsolata"; }
input.jquerized                         { font-family: "Open Sans Light"; }
select                                  { font-family: "Inconsolata"; }


/* Position */
/* ────────────────────────────────────────────────────────────────────────── */
th                                      { text-align: left; }
.center                                 { text-align: center; }
.left                                   { text-align: left; }
.player                                 { text-align: left; }
.pool-position                          { text-align: center; }
.right                                  { text-align: right; }
.table td                               { vertical-align: top; }
.table td.empty                         { text-align: center; }


/* Sizes */
/* ────────────────────────────────────────────────────────────────────────── */
*                                       { font-size: medium; }
code                                    { font-size: small; }
h1                                      { font-size: xx-large; }
h2                                      { font-size: x-large; }
h3                                      { font-size: large; }
h4, h5, h6                              { font-size: medium; }
.player                                 { line-height: 40px; }
.ui-widget                              { font-size: medium; }
#footer *                               { font-size: small; }
#menu .entry                            { line-height: 50px; }
#menu .submenu li                       { line-height: 30px; }
#menu .menu-item.last .content *        { font-size: small; }


/* Typography */
/* ────────────────────────────────────────────────────────────────────────── */
a, label                                { text-decoration: none; }
a:hover, label:hover                    { text-decoration: underline; }
form .errorlist                         { list-style-type: none; }
h1, h2, h3, h4, h5, h6                  { font-weight: normal; text-transform: uppercase; }
th                                      { font-weight: normal; }
ul.list                                 { list-style-type: disc; }
.noty_text                              { font-weight: normal; }
.table th, .table tfoot                 { font-weight: bold; }
.ui-button-text, input.jquerized        { text-transform: lowercase; font-weight: normal !important; }
#menu .entry                            { text-transform: uppercase; }
#menu .submenu                          { list-style-type: none; }
#menu-items                             { list-style-type: none; }
