/* Cursors */
/* ────────────────────────────────────────────────────────────────────────── */
a:hover                                 { cursor: pointer; }
code                                    { cursor: text; }
html.busy, html.busy *                  { cursor: wait !important; }
label:hover                             { cursor: pointer; }
.table tr.interactive                   { cursor: default; }
#encounters .match                      { cursor: pointer; }
#menu .content.expendable               { cursor: default; }


/* Sprites */
/* ────────────────────────────────────────────────────────────────────────── */
#menu .sprite                           { background: url("../../img/sprite.menu.png"); }
#menu .sprite.dota                      { background-position: -20px 0; }
#menu .sprite.home                      { background-position: 0 0; }
#menu .sprite.profile                   { background-position: -60px 0; }
#menu .sprite.settings                  { background-position: -80px 0; }
#menu .sprite.starcraft                 { background-position: -40px 0; }
