{% extends "base/base.html" %}
{% load i18n %}


{% block title %}Account{{ block.super }}{% endblock title %}

{% block content-right %}
<ul>
    {% with user.is_authenticated as l %}
    <li>
        {% if l %}<a href="{% url 'userena_profile_detail' user.username %}">{% endif %}
            {% trans "View profile" %}
        {% if l %}</a>{% endif %}
    </li>
    <li>
        {% if l %}<a href="{% url 'userena_profile_edit' user.username %}">{% endif %}
            {% trans "Change profile" %}
        {% if l %}</a>{% endif %}
    </li>
    <li>
        {% if l %}<a href="{% url 'userena_password_change' user.username %}">{% endif %}
            {% trans "Change password" %}
        {% if l %}</a>{% endif %}
    </li>
    <li>
        <!-- {% if l %}<a href="{% url 'userena_email_change' user.username %}">{% endif %} -->
            <s>{% trans "Change email" %}</s>
        <!-- {% if l %}</a>{% endif %} -->
    </li>
    {% endwith %}
    <li><a href="{% url 'userena_profile_list' %}">{% trans "View all profiles" %}</a></li>
</ul>
{% endblock content-right %}
