{% extends "userena/base.html" %}


{% block content-left %}
<form id="form-password-reset" action="" method="post">
    {% csrf_token %}
    <table>{{ form.as_table }}</table>
    <br />
    <input type="submit" value="send password" />
</form>
{% endblock content-left %}

{% block content-right %}
{% endblock content-right %}
