{% extends "userena/base.html" %}
{% load i18n %}
{% load staticfiles %}


{% block content-left %}
<h2>{% trans "change your password" %}</h2>
<form id="form-password" action="" method="post">
    {% csrf_token %}
    <table>{{ form.as_table }}</table>
    <br />
    <input type="submit" value="change password" class="jquerized" />
</form>
{% endblock content-left %}
