{% extends "userena/base.html" %}
{% load humanize %}
{% load i18n %}


{% block content-left %}
<h2>{% trans "profile of" %} {{ user.username|lower }}</h2>
<!-- <img id="profile-mugshot" src="{{ profile.get_mugshot_url }}" /> -->
<table>

    <!-- Full name -->
    {% if profile.full_name %}
    <tr>
	<th>Full name:</th>
	<td>{{ profile.full_name|title }}</td>
    </tr>
    {% endif %}

    <!-- Gender -->
    {% if profile.gender %}
    <tr>
	<th>Gender:</th>
	<td>{{ profile.get_gender_display }}</td>
    </tr>
    {% endif %}

    <!-- Date of birth -->
    {% if profile.born %}
    <tr>
	<th>Birthday:</th>
	<td>{{ profile.birth_date|date:"F jS" }}</td>
    </tr>
    <tr>
	<th>Age:</th>
	<td>{{ profile.age }}</td>
    </tr>
    {% endif %}

    <!-- Email-->
    {% if profile.user.email and not hide_email %}
    <tr>
	<th>Email:</th>
	<td>{{ profile.user.email|urlize }}</td>
    </tr>
    {% endif %}

</table>
{% endblock content-left %}
