{% extends "userena/base.html" %}
{% load i18n %}
{% load staticfiles %}


{% block script %}
{{ block.super }}
{% endblock script %}

{% block js-ready %}
{{ block.super }}
InitializeForms(['#form-profile']);
{% endblock js-ready %}

{% block content-left %}
<h2>{% trans "edit your profile" %}</h2>
<form id="form-profile" action="" enctype="multipart/form-data" method="post">
    {% csrf_token %}
    <table>{{ form.as_table }}</table>
</form>
{% endblock content-left %}
