{% extends 'userena/base.html' %}
{% load i18n %}

{% block title %}{% trans "Signed out" %}{% endblock %}
{% block content_title %}<h2>{% trans "You have been signed out" %}.</h2>{% endblock %}

{% block content %}
<p>{% trans "You have been signed out. Till we meet again." %}</p>
{% endblock %}
