{% extends "userena/base.html" %}
{% load i18n %}
{% load staticfiles %}


{% block content %}
<h2>{% trans "login" %}</h2>

<div class="content-centered">
    <form id="form-signin" action="" method="post">
        {% csrf_token %}
        <table>{{ form.as_table }}</table>
        <br />
        <input type="submit" value="signin" class="jquerized" />
        <button class="jquerized" type="button" onclick="parent.location='{% url 'userena_password_reset' %}';">
            {% trans "reset password" %}
        </button>
    </form>
</div>
{% endblock content %}
